nav{
    min-height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    button{
        border: 2px solid #bcbcbc;
        background-color: transparent;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        color: #fff ;
    }
}